<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213357170791-onel4rf0m749ur76vo6gsdst0es3khgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213357170791-onel4rf0m749ur76vo6gsdst0es3khgn</string>
	<key>API_KEY</key>
	<string>AIzaSyC6_azTdjxTJ6p1g6Pogde4ISdMXdVXTOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>213357170791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dukhovnyi.Pasteboard</string>
	<key>PROJECT_ID</key>
	<string>macos-pasteboard</string>
	<key>STORAGE_BUCKET</key>
	<string>macos-pasteboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213357170791:ios:5c2ccdbb0ec8bbbb7844c2</string>
</dict>
</plist>